{{ define "main" }}
    {{ $ctx := . }}
    {{ $bundle := .Site.GetPage .Params.bundle }}
    {{ $columns := $bundle.Resources.Match "column-*.md" }}
    {{ $tiles := $bundle.Resources.Match "tile-*.md" }}
    <article class="col-12 p-t-l p-b-l">
        <div class="text-lg">
            {{ .Content }}
        </div>
    </article>
    {{- with $columns -}}
        {{ $limit := $ctx.Params.columns }}
        {{ $title :=  $ctx.Params.columntitle }}
        {{ $context := dict "title" $title "columns" $columns "bundle" $bundle "limit" $limit }}
        <section class="m-b-l">{{- partial "grid-column.html" $context -}}</section>
    {{- end -}}
    {{- with $tiles -}}
        {{ $context := dict "tiles" $tiles "bundle" $bundle }}
        <section class="m-b-l">{{- partial "tiles.html" $context -}}</section>
    {{- end -}}
    <section class="m-b-l">
        {{- partial "latest-projects.html" . -}}
    </section>
{{ end }}