.image {
  padding-bottom: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: 0px 5px 10px darken($colorBlack, 10);
}

.banner-image {
  padding-bottom: 25%;
}
