.tiles {
    .image-column {
        position: relative;
        z-index: 2;
        .image {
            height: 100%;
        }
    }
    .content-column {
        position: relative;
        z-index: 1;
        background-color: darken($colorWhite, 10);
    }
}

@media (prefers-color-scheme: dark) {
    .tiles {
        .content-column {
            background-color: darken($colorBlack, 10);
        }
    }
}

@media only screen and (max-width: 992px) {

    .tiles {
        .content-column {
            order: 2;
        }

        .image-column {
            order: 1;
        }
    }

}