{{- $posts := slice -}}
{{- range (last 4 (where $.Site.Pages.ByPublishDate "Section" "posts")).Reverse -}}
    {{- if .Title -}}
        {{- $post := .Page -}}
        {{- $posts = append $post $posts -}}
    {{- end -}}
{{- end -}}
{{- with $posts -}}
    <div class="posts">
        <h2 class="m-b-m">Latest Web Design Blog Posts</h2>
        <ul class="posts-list posts-list-grid">
            {{- range $posts -}}
            {{- partial "blog/post-list-item.html" . -}}
            {{- end -}}
        </ul>
    </div>
{{- end -}}